.FavouriteUserPage-h1 {
  font-size: 4em;
}
.FavouriteUserPage-contact-chat-div {
  display: flex;
  flex-direction: rows;
}

.FavouriteUserPage-empty {
  border: white solid 3px;
  border-radius: 20px;
  width: 650px;
  height: 700px;
}

@media (max-width: 820px) {
  .FavouriteUserPage-empty {
    width: 450px;
  }
}

@media (max-width: 390px) {
  .FavouriteUserPage-contact-chat-div {
    flex-direction: column;
    height: 1200px;
    width: 100%;

    padding: 0;
  }

  .FavouriteUserPage-h1 {
    font-size: 3em;
  }
  .FavouriteUserPage-div {
    margin-left: 0;
    width: 350px;
  }
  .FavouriteUserPage-empty {
    width: 100%;
  }
}
