.UserPage-h1 {
  font-size: 50px;
}

.UserPage-edit-delete-div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.UserPage-edit-btn {
  font-size: 28px;
  font-weight: bold;
  background-color: rgb(0, 147, 79);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}
.UserPage-edit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 177, 94);
}

.UserPage-edit-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 137, 74);
}

.UserPage-delete-btn,
.UserPage-delete-mess-yes {
  font-size: 28px;
  font-weight: bold;
  background-color: rgba(243, 28, 28, 0.83);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.UserPage-delete-btn:hover,
.UserPage-delete-mess-yes:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(243, 58, 58, 0.83);
}

.UserPage-delete-btn:active,
.UserPage-delete-mess-yes:active {
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(213, 28, 28, 0.83);
}

.UserPage-chat-btn {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(0, 120, 108, 0.83);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.UserPage-chat-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 141, 127, 0.83);
}

.UserPage-chat-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 195, 175, 0.83);
}
.UserPage-delete-mess-div {
  border: solid white 2px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.UserPage-delete-mess {
  font-size: 20px;
}

.UserPage-delete-mess-yes {
  margin-right: 5px;
}
.UserPage-delete-mess-no {
  font-size: 28px;
  font-weight: bold;
  background-color: rgb(0, 42, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  margin-left: 5x;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}
.UserPage-delete-mess-no:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(45, 77, 238);
}

.UserPage-delete-mess-no:active {
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(93, 117, 235);
}

@media (max-width: 390px) {
  .UserPage-h1 {
    margin-bottom: 0px;
  }
  .UserPage-delete-mess-div {
    margin-top: 30px;
  }
}
